@model CategoryVM
@{
    var culture = System.Globalization.CultureInfo.CurrentUICulture;
    var dir = culture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
    var language = culture.Name;
    ViewData["Title"] = ("تعديل التصنيف", "Edit Category").Localize(language);
}

<div class="m-auto  bg-white p-5">
    <h1>@(("تعديل التصنيف", "Edit Category").Localize(language))</h1>
   
    <hr />
    <form asp-action="Edit" method="post" enctype="multipart/form-data">

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row  ">

        <input asp-for="Id" hidden/>
            <br />

            <div class="col-md-6">
                <div class="input-group input-group-static mb-4">
                    <label>@(("اسم التصنيف باللغه العربية", "Category Name In Arabic").Localize(language))</label>
                    <input asp-for="NameAR" type="text" class="form-control">
                </div>
                    <span asp-validation-for="NameAR" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-static mb-4">
                    <label >@(("اسم التصنيف باللغه الإنجليزية", "Category Name In English").Localize(language))</label>
                    <input asp-for="NameEN" type="text" class="form-control">
                </div>
                    <span asp-validation-for="NameEN" class="text-danger"></span>
            </div>
            <div class="col-md-6">
            <img src="~/Uploads/Categories/@Model.Image" width="400" height="400"/>
            </div>
            <div class="col">
                <div class="input-group input-group-outline my-3">
                    <label class="control-label fs-7">
                        @(("صورة التصنيف", "Category Photo").Localize(language))
                    </label>

                    <div class="input-group">
                        <input asp-for="PhotoFile"
                               type="file"
                               class="form-control form-control-lg"
                               id="formFile"
                               accept="image/*" />
                    </div>
                    <span asp-validation-for="PhotoFile" class="text-danger mt-1"></span>
                </div>
            </div>
            <input asp-for="Image" hidden/>


        </div>

        <div class="form-group mt-4">
            <input type="submit" value="@(("تعديل","Edit").Localize(language))" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light ms-2">
                @(language == "en" ? "Back to List" : "العودة إلى القائمة")
            </a>
        </div>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}