
@model ArtStation_Dashboard.ViewModels.BannerVM
@{
    var culture = System.Globalization.CultureInfo.CurrentUICulture;
   
    var lang = culture.Name;
}
<section>
    <div class="page-header ">
        <div class="container">
            <div class="row">
              
                <div class="col-xl-9 col-lg-6 col-md-8 d-flex flex-column m-auto ">
                    <div class="card card-plain">
                        <div class="card-header">
                            <h4 class="font-weight-bolder">@(("اضف لوحة", "Add New Banner").Localize(lang)) </h4>
                            <p class="mb-0"></p>
                        </div>
                        <div class="card-body">
                            <form role="form" asp-action="AddBanner" method="post" enctype="multipart/form-data">
                                
                                <input type="hidden" asp-for="Id" />    
                                <div class="input-group input-group-outline mb-3">
                                    <label asp-for="Title" class="form-label">@(("عنوان اللوحه", "Banner Title").Localize(lang))</label>
                                    <input asp-for="Title" type="text" class="form-control">
                                    <br />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <label asp-for="Photo" class="form-label"> @(("صوره اللوحه", "Banner Image").Localize(lang))</label>
                                     <input asp-for="Photo" class="form-control " type="file" id="formFile" />
                                    <br />
                                    <span asp-validation-for="Photo" class="text-danger"></span>
                                </div> 
                                <div class="input-group input-group-outline mb-3">
                                    <label asp-for="OrderBanner" class="form-label">@(("ترتيب اللوحه", "Banner Order").Localize(lang))</label>
                                    <input asp-for="OrderBanner" type="number"  class="form-control">
                                    <span asp-validation-for="OrderBanner" class="text-danger"></span>
                                </div>
                              
                                <div class="text-center">
                                    <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">@(("اضف لوحة", "Add New Banner").Localize(lang))</button>
                                </div>
                            </form>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>