
@model BannerVM
@{
    var culture = System.Globalization.CultureInfo.CurrentUICulture;
    var dir = culture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
    var lang = culture.Name;
}
<div class="m-auto  bg-white p-5">
    <h1>@(("تعديل بيانات اللوحه", "Edit Banner Data").Localize(lang))</h1>


    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="Id" hidden />
       
        <div class="row">
            <div class="col-md-6">
                <div class="input-group input-group-static mb-4">
                    <label>@(("عنوان اللوحه", "Banner Title").Localize(lang))</label>
                    <input asp-for="Title" class="form-control" />
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

           
          
           
            <div class="col-md-6">
                <div class="input-group input-group-static mb-4">
                    <label>@(("صورة اللوحه", "User Photo").Localize(lang))</label>
                    <div class="w-100">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <img src="~/Uploads/Banners/@Model.ImageUrl" alt="Banner Photo" width="100" class="mb-2" />
                        }
                        <input asp-for="Photo" type="file" class="form-control" accept="image/*" />
                    </div>
                </div>
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group input-group-static mb-4">
                <label>@(("ترتيب اللوحه", "Banner Order").Localize(lang))</label>
                <input asp-for="OrderBanner" type="number" class="form-control" />
            </div>
            <span asp-validation-for="OrderBanner" class="text-danger"></span>
        </div>

        <div class="form-group mt-4">
            <input type="submit" value="@(("تعديل", "Edit").Localize(lang))" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light ms-2">
                @(("العودة إلى القائمة", "Back to List").Localize(lang))
            </a>
        </div>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}