@using ArtStation_Dashboard.ViewModels.User
@model ChangePasswordVM
@{
    ViewBag.Title = "Change Password";
    var culture = System.Globalization.CultureInfo.CurrentUICulture;
    var dir = culture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
    var lang = culture.Name;
}
<div class="container my-auto mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
            <div class="card z-index-0 fadeIn3 fadeInBottom">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                        <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">@(($"تغيير كلمه السر ل{ViewBag.TraderName} ", $"Change Password to{ViewBag.TraderName} ").Localize(lang))</h4>
                     
                    </div>
                </div>
<div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form asp-action="ChangePassword" method="post" role="form" class="text-start">
                        <input type="hidden" asp-for="TraderId" value="@ViewBag.TraderId" />


                        <div class="input-group input-group-outline mb-3">
                            <label class="form-label">@(("كلمه السر الجديده", "New Password").Localize(lang))</label>
                            <input asp-for="NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="input-group input-group-outline mb-3">
                            <label class="form-label">@(("تأكيد كلمه السر", "Confirm Password").Localize(lang))</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">
                                @(("تغيير كلمه السر", "Change Password").Localize(lang))
                            </button>
                        </div>
                    </form>
</div>
</div>
</div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}