@model ProductCreation
@{
    var language = ViewData["Language"] as string ?? "en";
    ViewData["Title"] = ("إضافة منتج جديد", "Create New Product").Localize(language);
}


<div class="m-auto  bg-white p-5">
    <h1>@(("إضافة منتج جديد", "Create New Product").Localize(language))</h1>
    @if (!string.IsNullOrEmpty(TempData["Message"] as string))
    {
        <div class="alert alert-primary mt-3 mb-2">
            @TempData["message"]
        </div>
    }
    <hr />
    <form asp-action="Create" method="post" enctype="multipart/form-data">

        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Id" type="hidden" />
        <input asp-for="SellersCount" type="hidden" />
        <div class="row  ">

            <br />
            <div class="col-md-6">
                <div class="input-group input-group-static my-3">
                    <label class="form-label">@(("اسم المنتج باللغه العربية", "Product Name In Arabic").Localize(language))</label>
                    <input asp-for="NameAR" type="text" class="form-control">
                    <span asp-validation-for="NameAR" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-static my-3">
                    <label class="form-label">@(("اسم المنتج باللغه الإنجليزية", "Product Name In English").Localize(language))</label>
                    <input asp-for="NameEN" type="text" class="form-control">
                    <span asp-validation-for="NameEN" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-static my-3">
                    <label class="form-label">@(("اسم الماركة باللغه العربية", "Brand Name In Arabic").Localize(language))</label>
                    <input asp-for="BrandAR" type="text" class="form-control">
                    <span asp-validation-for="BrandAR" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-static my-3">
                    <label class="form-label">@(("اسم الماركة باللغه الإنجليزية", "Brand Name In English").Localize(language))</label>
                    <input asp-for="BrandEN" type="text" class="form-control">
                    <span asp-validation-for="BrandEN" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-static my-3">
                    <label class="form-label">@(("تفاصيل الشحن باللغه العربية", "Shipping Details In Arabic").Localize(language))</label>
                    <input asp-for="ShippingDetailsAR" type="text" class="form-control">
                    <span asp-validation-for="ShippingDetailsAR" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-static my-3">
                    <label class="form-label">@(("تفاصيل الشحن باللغه الإنجليزية", "Shipping Details In English").Localize(language))</label>
                    <input asp-for="ShippingDetailsEN" type="text" class="form-control">
                    <span asp-validation-for="ShippingDetailsEN" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-static my-3">
                    <label class="form-label">@(("مدة التسليم باللغه العربية", "Delivery duration In Arabic").Localize(language))</label>
                    <input asp-for="DeliveredOnAR" type="text" class="form-control">
                    <span asp-validation-for="DeliveredOnAR" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-static my-3">
                    <label class="form-label">@(("مدة التسليم باللغه الإنجليزية", "Delivery duration In English").Localize(language))</label>
                    <input asp-for="DeliveredOnEN" type="text" class="form-control">
                    <span asp-validation-for="DeliveredOnEN" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-static my-3">
                    <label class="form-label">@(("الوصف باللغه العربية", "Description In Arabic").Localize(language))</label>
                    <textarea asp-for="DescriptionAR" type="text" class="form-control"></textarea>
                    <span asp-validation-for="DescriptionAR" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-static my-3">
                    <label class="form-label">@(("الوصف باللغه الإنجليزية", "Description In English").Localize(language))</label>
                    <textarea asp-for="DescriptionEN" type="text" class="form-control"></textarea>
                    <span asp-validation-for="DescriptionEN" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-static my-3">
                    <select asp-for="CategoryId" class="form-control" class="form-select  form-select-lg mb-3" aria-label="Large select example" asp-items="@(new SelectList(Model.Categories,"Id","Name"))">
                        <option value="0" class="ps-2">@(("اختر اسم التصنيف" , "Choose Category Name").Localize(language))</option>
                    </select>
                </div>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="col-md-6">
                    <div class="input-group input-group-static my-3">
                        <select asp-for="TraderId" class="form-control" class="form-select  form-select-lg mb-3" aria-label="Large select example" asp-items="@(new SelectList(Model.Traders,"Id","FullName"))">
                            <option value="0">@(("اختر اسم التاجر", "Choose Trader Name").Localize(language))</option>
                        </select>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <div class="input-group input-group-static my-3">
                        <label class="form-label">@(("اسم التاجر", "Trader Name").Localize(language))</label>
                        <input asp-for="TraderName" type="text" class="form-control" readonly>
                    </div>
                </div>
            }
            <p class="text-muted fw-bold nav-heading mt-4 mb-2 bol">
                <span>@(("الفئه الموجه لها المنتج", "For Whom is the product ").Localize(language))</span>
            </p>
            <div class="mb-1">
                @foreach (var option in Model.forWhoms)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                               name="SelectedForWhoms" value="@option.Name"
                               id="forWhom_@option.Id"
                        @(Model.SelectedForWhoms.Contains(option.Name) ? "checked" : "") />

                        <label class="form-check-label" for="forWhom_@option.Id">
                            @option.Name
                        </label>
                    </div>
                }
            </div>
            <partial name="PartialView/_FlavourPartialView" />
            <partial name="PartialView/_SizePartialView" />
            <partial name="PartialView/_SalepartialView" />
            <partial name="PartialView/_ColorPartialView" />
            <partial name="PartialView/_PhotoPartialView" />
         

        </div>

        <div class="form-group mt-4">
            <input type="submit" value="@(("إضافة","Add").Localize(language))" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light ms-2">
                @(language == "en" ? "Back to List" : "العودة إلى القائمة")
            </a>
        </div>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/ProductJS.js"></script>
}



